/* @tailwind base;
@tailwind components;
@tailwind utilities; */
:root {
  --white: #ffffff;
  --dark1: #5D6B78;
  --dark: #17202A;
  --test: #ff0000;
  --pink: #fe2c55;
  --green: #17bf63;
  --blue: #1DA1F2;
  --blue1: #1582c6;
  --border: rgba(255, 255, 255, 0.1);
  --body-font: 'Instrument Sans', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid #ff0000; */
  font-family: var(--body-font);
}

::-webkit-scrollbar {
  padding-right: 2em;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark1);
  border-radius: 5px;
}

ul,
a {
  list-style: none;
  text-decoration: none;
}

i {
  color: var(--white);
  font-size: 1.5em;
}

body {
  font-size: 1.2rem;
  line-height: 1.6;
  /* background: linear-gradient(180deg, #04fafd, 5%, #119dff, 50%, #030423); */
  background-color: var(--dark);
}